@model IEnumerable<Blog_itla.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesajes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioBlogNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesajes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioBlogNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBlog">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBlog">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBlog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
